.main-ping{
    padding: 50px 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-ping .ping-text{
    margin-top: -190px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.main-ping .ping-text button{
    background-color: transparent;
    border: 2px solid red;
 padding: 8px 15px;
    border-radius: 20px;
    margin-top: 25px;
    transition: all 0.3s linear ;
    cursor: pointer;
}
.main-ping .ping-text button:hover{
    background-color: red;
    color: white;
}
.main-ping .footer p{
  
    justify-content: center;
    align-items: center;
    text-align: center;
   padding-top: 150px;
}
@media only screen  and (max-width:1280px){
    .images-ping img{
        width: 100%;
    }
}
@media only screen  and (max-width:780px){
    .images-ping img{
        width: 100%;
        height: 200px;
    }
}